<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <form class="" action="/delete" method="post">
    <button type="submit" name="delBtn" value=<%= postId %> class="btn btn-danger">Delete Post</button>
  </form>

<%- include("partials/footer"); -%>
